    <div class="footer-container">
      <div class="footer">
        <div class="footer-links mt-3">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          Pony Pulse © 2023 | In Ponies We Trust | All Right Reserved
        </div>
      </div>
    </div>
