<div id="home-hero" style='height: 500px; background: url(<%= cl_image_path 'jpznyatzphanfskm3sr6' %>)'>
  <div class="container">
  <div id="half-hero">
      <div class="row">
        <h1>Louez les plus beaux poneys pour vos événements</h1>
      </div>
      <div class="row">
        <p>Réalisez vos rêves grâce à nos poneys pour monter, tondre ou pour vous tenir compagnie!</p>
      </div>
      <div class="row">
        <a class="btn btn-primary" href="#">Choisir votre poney</a>
      </div>
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Des poneys heureux</h5>
            <p class="card-text">Tous nos poneys sont élevés et entretenus par des propriétaires attentionnés, dans des grandes étendues d'herbe parfaitement adaptés à leurs besoins.</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Un poney pour chaque occasion</h5>
            <p class="card-text">Pour un animer un anniversaire inoubliable, pour tondre votre jardin ou pour une balade thérapeutique : nous avons le poney qu'il vous faut.</p>
          </div>
        </div>
      </div>
        <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Garantie satisfait ou remboursé</h5>
            <p class="card-text">Si à l'issue de votre location vous n'êtes pas satisfait du service, Pony Pulse vous rembourse votre location.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="container">
    <div class="row">
    <div class="card">
      <h5>Avis client très satisfait</h5>
      <p>J'ai beaucoup aimé c'était chouette</p>
    </div>
    </div>
    <div class="row">
      <h5>Avis client très satisfait</h5>
      <p>J'ai beaucoup aimé c'était chouette</p>
    </div>
    <div class="row">
      <h5>Avis client très satisfait</h5>
      <p>J'ai beaucoup aimé c'était chouette</p>
    </div>
  </div>
</div>
