.btn-purple {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: white;
    background-color: $pulse;
    transition: all 0.2s ease;
    text-decoration: none;
  }
