.title-profile {
    font-size: 28px;
    font-weight: bold;
  }

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  padding-left: 165px;
}
.cards-ponies {

  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

  h2 {
    font-size: 24px;
    padding-top: 20px;
    font-weight: 300;
  }
}
.grid-ponies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 25px;

}
.cards-bookings {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  padding: 25px;
  border-radius: 4px;

  h2 {
    font-size: 24px;
    font-weight: 300;
  }
}
.cards-map {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-left: 165px;
}
.card-map {
  background-color: white;
}
.image-map {
  width: 100%;
}
.card-shadow {
  border-radius: 4px;
  padding: 10px;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.card-shadow-profile {
  border-radius: 4px;
  padding: 10px;
  // width: 45%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.card-text {
  color: grey;
}

.card-info-profile {
  border-radius: 10px;
  padding: 10px;
  background-color: #F7F7F7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
