// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";
@import "map";

#home-hero {
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  background-size: cover;
}

#half-hero {
  width: 30%;
  color: white;
}
