<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
    <h1>Our ponies</h1>
  </div>
</div>

<div class="container">
 <div class="card-deck d-flex">
    <% @ponies.each do |pony| %>
      <div class="card">
        <%= link_to pony_path(pony) do %>
          <div class="card-body">
            <%# <%= cl_image_tag(pony.photo, width: 400, height: 300, crop: :fill) %>
            <%= pony.name %>
            <%= pony.price_per_day %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
