// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:wght@100&display=swap');

// Your CSS partials
@import "components/index";
@import "components/navbar";
@import "components/footer";
@import "components/card_trip";
@import "pages/index";

// .page-container {
//   position: relative;
//   min-height: 100vh;
// }

body {
  position: relative;
  padding-bottom: 45px;
  min-height: 100vh;
}
